<?php
$result="";

if(isset($_POST['submit'])){
  require 'PHPMailerAutoload.html';
  $mail = new PHPMailer;

  $mail->Host='smtp.gmail.com';
  $mail->Port=587;
  $mail->SMTPAuth=true;
  $mail->SMTPSecure='tls';
  $mail->Username='fd2pmessage@gmail.com';
  $mail->Password='messagefd2p';

  $mail->setFrom($_POST['email'],$_POST['name']);
  $mail->addAddress('info@fd2p.com');

  $mail->isHTML(true);
  $mail->Subject='Form Submission: ' .$_POST['email'];
  $mail->Body='<h1 align=center>email: '.$_POST['email']. '<br>name: '.$_POST['name']. '<br>organization: '.$_POST['organization']. '</h1>';

  if(!$mail->send()){
    $result="Something went wrong. Please try again.";
    echo '<style type="text/css">
       #fake.fake-container {display: block;}
     </style>';
  }
  else{
    $result="Thank you, document has been sent to your email!";
    echo '<style type="text/css">
       #fake.fake-container {display: block;}
     </style>';
  }
}
?>
